--
-- PostgreSQL database dump
--

\restrict 5dqdrOkgAYOnAZOdfFp4qVrY3ZAkmBTM1VbfeoJO5PYvn3efgKxxmTsnhrjmU33

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: categoriait; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.categoriait AS ENUM (
    'HARDWARE',
    'SOFTWARE',
    'NETWORK',
    'GENERICO'
);


ALTER TYPE public.categoriait OWNER TO admin;

--
-- Name: macrocategoria; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.macrocategoria AS ENUM (
    'PRINTING',
    'IT',
    'MANUTENZIONE',
    'FISCALI'
);


ALTER TYPE public.macrocategoria OWNER TO admin;

--
-- Name: ruoloutente; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.ruoloutente AS ENUM (
    'SUPERADMIN',
    'ADMIN',
    'TECNICO',
    'OPERATORE',
    'MAGAZZINIERE'
);


ALTER TYPE public.ruoloutente OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assets_cliente; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.assets_cliente (
    id integer NOT NULL,
    cliente_id integer,
    sede_id integer,
    tipo_asset character varying NOT NULL,
    marca character varying,
    modello character varying,
    matricola character varying,
    data_installazione timestamp without time zone,
    data_scadenza_noleggio timestamp without time zone,
    is_colore boolean,
    tipo_formato character varying,
    cadenza_letture_copie character varying,
    contatore_iniziale_bn integer,
    contatore_iniziale_colore integer,
    copie_incluse_bn integer,
    copie_incluse_colore integer,
    costo_copia_bn_fuori_limite double precision,
    costo_copia_colore_fuori_limite double precision,
    costo_copia_bn_non_incluse double precision,
    costo_copia_colore_non_incluse double precision,
    codice_prodotto character varying,
    seriale character varying,
    descrizione text,
    is_nuovo boolean
);


ALTER TABLE public.assets_cliente OWNER TO admin;

--
-- Name: assets_cliente_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.assets_cliente_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assets_cliente_id_seq OWNER TO admin;

--
-- Name: assets_cliente_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.assets_cliente_id_seq OWNED BY public.assets_cliente.id;


--
-- Name: clienti; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.clienti (
    id integer NOT NULL,
    ragione_sociale character varying,
    indirizzo character varying,
    citta character varying,
    cap character varying,
    p_iva character varying,
    codice_fiscale character varying,
    email_amministrazione character varying,
    codice_sdi character varying,
    is_pa boolean,
    split_payment boolean,
    has_contratto_assistenza boolean,
    has_noleggio boolean,
    has_multisede boolean,
    data_inizio_contratto_assistenza timestamp without time zone,
    data_fine_contratto_assistenza timestamp without time zone,
    limite_chiamate_contratto integer,
    chiamate_utilizzate_contratto integer,
    costo_chiamata_fuori_limite double precision,
    sede_legale_operativa boolean DEFAULT false
);


ALTER TABLE public.clienti OWNER TO admin;

--
-- Name: clienti_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.clienti_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.clienti_id_seq OWNER TO admin;

--
-- Name: clienti_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.clienti_id_seq OWNED BY public.clienti.id;


--
-- Name: dettagli_intervento; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dettagli_intervento (
    id integer NOT NULL,
    intervento_id integer,
    categoria_it public.categoriait,
    marca_modello character varying,
    serial_number character varying,
    part_number character varying,
    descrizione_lavoro text,
    dati_tecnici jsonb
);


ALTER TABLE public.dettagli_intervento OWNER TO admin;

--
-- Name: dettagli_intervento_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.dettagli_intervento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dettagli_intervento_id_seq OWNER TO admin;

--
-- Name: dettagli_intervento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.dettagli_intervento_id_seq OWNED BY public.dettagli_intervento.id;


--
-- Name: impostazioni_azienda; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.impostazioni_azienda (
    id integer NOT NULL,
    nome_azienda character varying,
    indirizzo_completo character varying,
    p_iva character varying,
    logo_url character varying,
    colore_primario character varying,
    testo_privacy text,
    testo_footer character varying,
    telefono character varying,
    email character varying,
    email_notifiche_scadenze character varying,
    email_avvisi_promemoria character varying,
    smtp_server character varying,
    smtp_port integer,
    smtp_username character varying,
    smtp_password character varying,
    smtp_use_tls boolean,
    costo_orario_standard double precision,
    diritto_chiamata_standard double precision,
    tariffe_categorie jsonb,
    configurazioni_avanzate jsonb,
    template_pdf_config jsonb,
    oauth_config jsonb
);


ALTER TABLE public.impostazioni_azienda OWNER TO admin;

--
-- Name: impostazioni_azienda_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.impostazioni_azienda_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.impostazioni_azienda_id_seq OWNER TO admin;

--
-- Name: impostazioni_azienda_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.impostazioni_azienda_id_seq OWNED BY public.impostazioni_azienda.id;


--
-- Name: interventi; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.interventi (
    id integer NOT NULL,
    numero_relazione character varying,
    anno_riferimento integer,
    data_creazione timestamp without time zone,
    tecnico_id integer,
    cliente_id integer,
    sede_id integer,
    cliente_ragione_sociale character varying,
    cliente_indirizzo character varying,
    sede_indirizzo character varying,
    sede_nome character varying,
    cliente_piva character varying,
    macro_categoria public.macrocategoria,
    is_contratto boolean,
    is_garanzia boolean,
    is_chiamata boolean,
    is_sopralluogo boolean,
    flag_diritto_chiamata boolean,
    costo_chiamata_applicato double precision,
    tariffa_oraria_applicata double precision,
    costi_extra double precision,
    descrizione_extra character varying,
    difetto_segnalato text,
    chiamate_utilizzate_contratto integer,
    chiamate_rimanenti_contratto integer,
    limite_chiamate_contratto integer,
    ora_inizio time without time zone,
    ora_fine time without time zone,
    firma_tecnico text,
    firma_cliente text,
    nome_cliente character varying,
    cognome_cliente character varying,
    is_prelievo_copie boolean DEFAULT false
);


ALTER TABLE public.interventi OWNER TO admin;

--
-- Name: interventi_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.interventi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.interventi_id_seq OWNER TO admin;

--
-- Name: interventi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.interventi_id_seq OWNED BY public.interventi.id;


--
-- Name: letture_copie; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.letture_copie (
    id integer NOT NULL,
    asset_id integer NOT NULL,
    intervento_id integer,
    data_lettura timestamp without time zone NOT NULL,
    contatore_bn integer NOT NULL,
    contatore_colore integer,
    tecnico_id integer,
    note text,
    created_at timestamp without time zone
);


ALTER TABLE public.letture_copie OWNER TO admin;

--
-- Name: letture_copie_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.letture_copie_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.letture_copie_id_seq OWNER TO admin;

--
-- Name: letture_copie_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.letture_copie_id_seq OWNED BY public.letture_copie.id;


--
-- Name: magazzino; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.magazzino (
    id integer NOT NULL,
    codice_articolo character varying,
    descrizione character varying,
    prezzo_vendita double precision,
    costo_acquisto double precision,
    giacenza integer,
    categoria character varying
);


ALTER TABLE public.magazzino OWNER TO admin;

--
-- Name: magazzino_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.magazzino_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.magazzino_id_seq OWNER TO admin;

--
-- Name: magazzino_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.magazzino_id_seq OWNED BY public.magazzino.id;


--
-- Name: movimenti_ricambi; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.movimenti_ricambi (
    id integer NOT NULL,
    intervento_id integer,
    prodotto_id integer,
    descrizione character varying,
    quantita integer,
    prezzo_unitario double precision,
    prezzo_applicato double precision
);


ALTER TABLE public.movimenti_ricambi OWNER TO admin;

--
-- Name: movimenti_ricambi_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.movimenti_ricambi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.movimenti_ricambi_id_seq OWNER TO admin;

--
-- Name: movimenti_ricambi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.movimenti_ricambi_id_seq OWNED BY public.movimenti_ricambi.id;


--
-- Name: sedi_cliente; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sedi_cliente (
    id integer NOT NULL,
    cliente_id integer NOT NULL,
    nome_sede character varying NOT NULL,
    indirizzo_completo character varying NOT NULL,
    citta character varying,
    cap character varying,
    telefono character varying,
    email character varying
);


ALTER TABLE public.sedi_cliente OWNER TO admin;

--
-- Name: sedi_cliente_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sedi_cliente_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sedi_cliente_id_seq OWNER TO admin;

--
-- Name: sedi_cliente_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sedi_cliente_id_seq OWNED BY public.sedi_cliente.id;


--
-- Name: utenti; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.utenti (
    id integer NOT NULL,
    email character varying,
    password_hash character varying,
    nome_completo character varying,
    ruolo public.ruoloutente,
    is_active boolean,
    oauth_provider character varying,
    oauth_id character varying,
    permessi jsonb,
    two_factor_enabled boolean,
    two_factor_secret character varying,
    two_factor_backup_codes jsonb,
    created_at timestamp without time zone,
    last_login timestamp without time zone
);


ALTER TABLE public.utenti OWNER TO admin;

--
-- Name: utenti_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.utenti_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.utenti_id_seq OWNER TO admin;

--
-- Name: utenti_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.utenti_id_seq OWNED BY public.utenti.id;


--
-- Name: assets_cliente id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assets_cliente ALTER COLUMN id SET DEFAULT nextval('public.assets_cliente_id_seq'::regclass);


--
-- Name: clienti id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.clienti ALTER COLUMN id SET DEFAULT nextval('public.clienti_id_seq'::regclass);


--
-- Name: dettagli_intervento id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dettagli_intervento ALTER COLUMN id SET DEFAULT nextval('public.dettagli_intervento_id_seq'::regclass);


--
-- Name: impostazioni_azienda id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.impostazioni_azienda ALTER COLUMN id SET DEFAULT nextval('public.impostazioni_azienda_id_seq'::regclass);


--
-- Name: interventi id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interventi ALTER COLUMN id SET DEFAULT nextval('public.interventi_id_seq'::regclass);


--
-- Name: letture_copie id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.letture_copie ALTER COLUMN id SET DEFAULT nextval('public.letture_copie_id_seq'::regclass);


--
-- Name: magazzino id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.magazzino ALTER COLUMN id SET DEFAULT nextval('public.magazzino_id_seq'::regclass);


--
-- Name: movimenti_ricambi id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movimenti_ricambi ALTER COLUMN id SET DEFAULT nextval('public.movimenti_ricambi_id_seq'::regclass);


--
-- Name: sedi_cliente id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sedi_cliente ALTER COLUMN id SET DEFAULT nextval('public.sedi_cliente_id_seq'::regclass);


--
-- Name: utenti id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.utenti ALTER COLUMN id SET DEFAULT nextval('public.utenti_id_seq'::regclass);


--
-- Name: assets_cliente assets_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assets_cliente
    ADD CONSTRAINT assets_cliente_pkey PRIMARY KEY (id);


--
-- Name: clienti clienti_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.clienti
    ADD CONSTRAINT clienti_pkey PRIMARY KEY (id);


--
-- Name: dettagli_intervento dettagli_intervento_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dettagli_intervento
    ADD CONSTRAINT dettagli_intervento_pkey PRIMARY KEY (id);


--
-- Name: impostazioni_azienda impostazioni_azienda_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.impostazioni_azienda
    ADD CONSTRAINT impostazioni_azienda_pkey PRIMARY KEY (id);


--
-- Name: interventi interventi_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interventi
    ADD CONSTRAINT interventi_pkey PRIMARY KEY (id);


--
-- Name: letture_copie letture_copie_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.letture_copie
    ADD CONSTRAINT letture_copie_pkey PRIMARY KEY (id);


--
-- Name: magazzino magazzino_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.magazzino
    ADD CONSTRAINT magazzino_pkey PRIMARY KEY (id);


--
-- Name: movimenti_ricambi movimenti_ricambi_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movimenti_ricambi
    ADD CONSTRAINT movimenti_ricambi_pkey PRIMARY KEY (id);


--
-- Name: sedi_cliente sedi_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sedi_cliente
    ADD CONSTRAINT sedi_cliente_pkey PRIMARY KEY (id);


--
-- Name: utenti utenti_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.utenti
    ADD CONSTRAINT utenti_pkey PRIMARY KEY (id);


--
-- Name: idx_letture_copie_asset_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_letture_copie_asset_id ON public.letture_copie USING btree (asset_id);


--
-- Name: idx_letture_copie_data_lettura; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_letture_copie_data_lettura ON public.letture_copie USING btree (data_lettura);


--
-- Name: ix_assets_cliente_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_assets_cliente_id ON public.assets_cliente USING btree (id);


--
-- Name: ix_clienti_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_clienti_id ON public.clienti USING btree (id);


--
-- Name: ix_clienti_ragione_sociale; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_clienti_ragione_sociale ON public.clienti USING btree (ragione_sociale);


--
-- Name: ix_dettagli_intervento_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_dettagli_intervento_id ON public.dettagli_intervento USING btree (id);


--
-- Name: ix_impostazioni_azienda_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_impostazioni_azienda_id ON public.impostazioni_azienda USING btree (id);


--
-- Name: ix_interventi_anno_riferimento; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_interventi_anno_riferimento ON public.interventi USING btree (anno_riferimento);


--
-- Name: ix_interventi_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_interventi_id ON public.interventi USING btree (id);


--
-- Name: ix_interventi_numero_relazione; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_interventi_numero_relazione ON public.interventi USING btree (numero_relazione);


--
-- Name: ix_letture_copie_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_letture_copie_id ON public.letture_copie USING btree (id);


--
-- Name: ix_magazzino_codice_articolo; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_magazzino_codice_articolo ON public.magazzino USING btree (codice_articolo);


--
-- Name: ix_magazzino_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_magazzino_id ON public.magazzino USING btree (id);


--
-- Name: ix_movimenti_ricambi_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_movimenti_ricambi_id ON public.movimenti_ricambi USING btree (id);


--
-- Name: ix_sedi_cliente_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_sedi_cliente_id ON public.sedi_cliente USING btree (id);


--
-- Name: ix_utenti_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_utenti_email ON public.utenti USING btree (email);


--
-- Name: ix_utenti_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_utenti_id ON public.utenti USING btree (id);


--
-- Name: assets_cliente assets_cliente_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assets_cliente
    ADD CONSTRAINT assets_cliente_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clienti(id);


--
-- Name: assets_cliente assets_cliente_sede_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.assets_cliente
    ADD CONSTRAINT assets_cliente_sede_id_fkey FOREIGN KEY (sede_id) REFERENCES public.sedi_cliente(id);


--
-- Name: dettagli_intervento dettagli_intervento_intervento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dettagli_intervento
    ADD CONSTRAINT dettagli_intervento_intervento_id_fkey FOREIGN KEY (intervento_id) REFERENCES public.interventi(id);


--
-- Name: interventi interventi_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interventi
    ADD CONSTRAINT interventi_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clienti(id);


--
-- Name: interventi interventi_sede_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interventi
    ADD CONSTRAINT interventi_sede_id_fkey FOREIGN KEY (sede_id) REFERENCES public.sedi_cliente(id);


--
-- Name: interventi interventi_tecnico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.interventi
    ADD CONSTRAINT interventi_tecnico_id_fkey FOREIGN KEY (tecnico_id) REFERENCES public.utenti(id);


--
-- Name: letture_copie letture_copie_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.letture_copie
    ADD CONSTRAINT letture_copie_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.assets_cliente(id) ON DELETE CASCADE;


--
-- Name: letture_copie letture_copie_intervento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.letture_copie
    ADD CONSTRAINT letture_copie_intervento_id_fkey FOREIGN KEY (intervento_id) REFERENCES public.interventi(id) ON DELETE SET NULL;


--
-- Name: letture_copie letture_copie_tecnico_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.letture_copie
    ADD CONSTRAINT letture_copie_tecnico_id_fkey FOREIGN KEY (tecnico_id) REFERENCES public.utenti(id);


--
-- Name: movimenti_ricambi movimenti_ricambi_intervento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movimenti_ricambi
    ADD CONSTRAINT movimenti_ricambi_intervento_id_fkey FOREIGN KEY (intervento_id) REFERENCES public.interventi(id);


--
-- Name: movimenti_ricambi movimenti_ricambi_prodotto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.movimenti_ricambi
    ADD CONSTRAINT movimenti_ricambi_prodotto_id_fkey FOREIGN KEY (prodotto_id) REFERENCES public.magazzino(id);


--
-- Name: sedi_cliente sedi_cliente_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sedi_cliente
    ADD CONSTRAINT sedi_cliente_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clienti(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5dqdrOkgAYOnAZOdfFp4qVrY3ZAkmBTM1VbfeoJO5PYvn3efgKxxmTsnhrjmU33

